<div ng-controller="AdvertisementCtrl" class="container">
    <p class="container p-2 tilte fs-5">Thông tin quảng cáo
        <div id="clock" class="header-common"></div>
    </p>
    <div class="button">
        <button ng-click="btnAdd()" type="button" class="btn btn-success btn-add">
            <i class="fa-solid fa-plus"></i>
            Thêm Quảng Cáo
        </button>
        <button type="button" class="btn btn-danger btn-del" >
            <i class="fa-solid fa-trash"></i>
            Xoá Quảng Cáo
        </button>
    </div>
    <form action="">
        <table class="table table-product table-hover">
           <thead>
                <tr class="text-center">
                    <th scope="col">Chọn</th>
                    <th>ID</th>
                    <th scope="col">Hình Ảnh</th>
                    <th scope="col">Link</th>
                    <th scope="col">Trạng Thái</th>
                    <th scope="col">Hành Động</th>
                </tr>
           </thead>
           <tbody>
                <tr ng-repeat="x in listADS" class="text-center">
                    <td>
                        <input class="form-check-input text-center" ng-model="selected" type="checkbox"
                            ng-click="toggleSelection(x)" value="" id="checkitem">
                    </td>
                    <td>{{x.id.toLocaleString('de-DE')}}</td>
                    <td><img style="width: 100px;height: 100px;background-size: cover;" src={{x.anhDaiDien}} alt=""></td>
                    <td><a href="{{x.linkQuangCao}}" target="_blank">Link</a></td>
                    <td>{{x.moTa === "true" ? 'Bên Phải': x.moTa === "false" ? 'Bên trái':'Ẩn'}}</td>
                    <td>
                        <a style="cursor: pointer;" class="edit text-decoration-none">
                            <i ng-click="edit(x)"  class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
           </tbody>
        </table>
    </form>
    <div class="product-container">
        <div class="add-product container">
            <h4 class="text-center p-2">Thông tin quảng cáo</h4>
            <div class="form-group">
                <label>Hình ảnh:</label>
                <input ng-model="hinhanh" id="Image" type="file" class="form-control">
            </div>
            <img style="width: 20%; float: right;padding: 2px;" class="Img" src="" alt="">
            <div class="form-group">
                <label>Link:</label>
                <input ng-model="link" id="link" type="text" class="form-control" placeholder="Link">
            </div>
            <div class="form-group">
                <label for="">Mô tả:</label>
                <select ng-model="mota" class="select form-select-lg status" id="statusOption">
                    <option value="" disabled>Chọn vị trí</option>
                    <option value="true" >Bên Phải</option>
                    <option value="false">Bên Trái</option>
                    <option value="non">Ẩn</option>
                </select>
            </div>
            <button ng-click="save()" type="button" class="btn btn-success" style="margin: 0 0 10px 46%;">{{submit}}</button>
        </div>
    </div>
</div>
<div id="pagination"></div>
<div class="notifi">
    <div class="notifi-btn">
        <p class="text-center p-3" style="margin-bottom: 0;">Bạn có chắc chắn muốn xoá không ?</p>
        <div class="text-center">
            <button onclick="yesdel()" type="button" class="yes-btn btn btn-success">Đồng ý</button>
            <button type="button" class="no-btn btn btn-secondary">Quay lại</button>
        </div>
    </div>
</div>

  <script>

    $(document).ready(function(){
        $(".btn-add").click(function(){
            $(".product-container").toggleClass("hide")
        })

        $(".product-container").click(function () {
            $(".product-container").toggleClass("hide")
        })

        $(".add-product").click(function (e) {
            e.stopPropagation();
        })

        $('.btn-del').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $('.notifi').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $(".notifi-btn").click(function (e) {
            e.stopPropagation();
        })

        $('.no-btn').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

    });

</script>