<div ng-controller="billSellCtrl" class="container">
    <p class="container p-2 tilte fs-5">Thông tin hoá đơn bán
        <div id="clock" class="header-common"></div>
    </p>
    <form class="form-group">
        <input style="margin: 0;padding: 10px;" type="text" name="" id="" placeholder="Nhập tên danh mục bạn cần tìm">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
            Tìm kiếm
        </button>
    </form>
    <div class="button">
        <button ng-click="btnAdd()" type="button" class="btn btn-success btn-add">
            <i class="fa-solid fa-plus"></i>
            Thêm Hoá Đơn Bán
        </button>
        <button type="button" class="btn btn-danger btn-del" >
            <i class="fa-solid fa-trash"></i>
            Xoá Hoá Đơn Bán
        </button>
    </div>
    <form action="">
        <table class="table table-product table-hover">
           <thead>
                <tr class="text-center">
                    <th>Chọn</th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Khách Hàng</th>
                    <th scope="col">Tổng Giá</th>
                    <th scope="col">Địa chỉ giao</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Ngày duyệt</th>
                    <th scope="col">Trạng Thái</th>
                    <th scope="col">Hành Động</th>
                </tr>
           </thead>
           <tbody>
                <tr ng-repeat="x in listHoaDonBan" class="text-center">
                    <td>
                        <input class="form-check-input text-center" ng-model="selected" type="checkbox" ng-click="toggleSelection(x)" value="" id="checkitem">
                    </td>
                    <td>{{x.maHoaDon}}</td>
                    <td>{{x.tenKH}}</td>
                    <td>{{x.tongGia}}</td>
                    <td>{{x.diaChiGiaoHang}}</td>
                    <td>{{x.sdt}}</td>
                    <td>{{x.ngayTao}}</td>
                    <td>{{x.ngayDuyet}}</td>
                    <td ng-style="{'color': x.trangThai === true ? '#33CC00' : '#FF3300'}">{{x.trangThai===true?'Đã bán':'Huỷ'}}</td>
                    <td>
                        <a style="cursor: pointer;" class="edit text-decoration-none">
                            <i ng-click="edit(x)"  class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
           </tbody>
        </table>
    </form>
    <div class="product-container">
        <div class="add-product container">
            <h4 class="text-center p-2">Thông tin hoá đơn bán</h4>
            
            <!-- <button class="btn-refesh">Làm mới</button> -->
            
            <div class="form-group">
                <label>Tên khách hàng:</label>
                <input ng-model="tenkhach" type="text" class="form-control" placeholder="Tên khách hàng">
            </div>
            <div class="form-group">
                <label>Số điện thoại:</label>
                <input ng-model="sodienthoai" type="text" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input ng-model="email" type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Địa chỉ giao:</label>
                <input ng-model="diachigiao" type="text" class="form-control" placeholder="Địa chỉ giao">
            </div>
            <div class="form-group">
                <label>Tổng giá:</label>
                <input ng-model="tonggia" type="text" class="form-control" placeholder="Tổng giá">
            </div>
            <div class="form-group">
                <label>Ngày tạo:</label>
                <input  id="party" name="partydate" type="datetime-local" class="form-control" placeholder="Ngày tạo">
            </div>
            <div class="form-group">
                <label>Ngày duyệt:</label>
                <input  id="party2" name="partydate2" type="datetime-local" class="form-control" placeholder="Ngày duyệt">
            </div>
            <div class="form-group">
                <label for="">Trạng thái:</label>
                <select ng-model="trangthai" class="select form-select-lg status" id="statusOption">
                    <option value="" selected disabled>Chọn trạng thái</option>
                    <option value="true" >Đã bán</option>
                    <option value="false">Huỷ</option>
                </select>
            </div>
            <div style="border: 1px solid rgb(162, 163, 168); border-radius: 10px; padding: 10px;">
                <h4>Chi tiết hoá đơn bán</h4>
                <div class="form-group">
                    <label for="">Tên sản phẩm:</label>
                    <select ng-model="masanpham" class="select form-select-lg status">
                        <option value="" selected disabled>Chọn sản phẩm</option>
                        <option ng-repeat="y in Product" value={{y.maSanPham}} >{{y.tenSanPham}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Số lượng:</label>
                    <input ng-model="soluong" ng-model="soluong" id="Quantity" type="number" value="0" class="form-control"
                        placeholder="Số lượng">
                </div>
                <div class="form-group">
                    <label>Tổng giá:</label>
                    <input ng-model="gia" ng-model="gia" id="Price" type="number" value="0" class="form-control" placeholder="Tổng giá">
                </div>
                <div class="detail">
                    <div class="icon">
                        <i ng-click="refreshDetail()" class="fa-solid fa-rotate-left"></i>
                        <i ng-click="addDetail()" class="fa-solid fa-plus"></i>
                        <i ng-click="editDetail()" class="fa-solid fa-pen-to-square"></i>
                        <i ng-click="deleteDetail()" class="fa-solid fa-trash"></i>
                    </div>
                    <form action="">
                        <table class="table table-product table-hover">
                            <thead>
                                <th scope="col">ID</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng giá</th>
                            </thead>
                            <tbody>
                                <tr ng-click="clicktoEdit(y)" ng-repeat="y in listHoaDonBanDetail" class="text-center">
                                    <td>{{y.maChiTietHoaDon}}</td>
                                    <td>{{y.tenSanPham}}</td>
                                    <td>{{y.soLuong}}</td>
                                    <td>{{y.tongGia}}</td>
                                </tr>
                           </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <button ng-click="addBill()" type="button" class="btn btn-success saveAdd" style="margin: 10px 0 10px 42%;">Thêm mới</button>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example" style="display: flex; justify-content: center;z-index: 0;">
    <ul class="pagination">
        <li class="page-item prevPage"><p onclick="prev()" class="page-link " ><<</p></li>
        <div class="page-count" style="display:flex">
            <!-- <li class="page-item"><p class="page-link">1</p></li> -->
        </div>
        <li  class="page-item nextPage"><p onclick="next()" class="page-link" >>></p></li>
    </ul>
</nav>
<div class="notifi">
    <div class="notifi-btn">
        <p class="text-center p-3" style="margin-bottom: 0;">Bạn có chắc chắn muốn xoá không ?</p>
        <div class="text-center">
            <button onclick="yesdel()" type="button" class="yes-btn btn btn-success" >Đồng ý</button>
            <button type="button" class="no-btn btn btn-secondary">Quay lại</button>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        $(".btn-add").click(function(){
            $(".product-container").toggleClass("hide")
        })

        $(".product-container").click(function () {
            $(".product-container").toggleClass("hide")
        })

        $(".add-product").click(function (e) {
            e.stopPropagation();
        })

        $('.btn-del').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $('.notifi').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $(".notifi-btn").click(function (e) {
            e.stopPropagation();
        })

        $('.no-btn').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

    });

</script>