<div ng-controller="CategoryOfferCtrl" class="container">
    <p class="container p-2 tilte fs-5">Thông tin danh mục ưu đãi
        <div id="clock" class="header-common"></div>
    </p>
    <form class="form-group">
        <input style="margin-left: 3px;" ng-model="timkiem"type="text" name="" id=""
            placeholder="Nhập tên danh mục ưu đãi bạn cần tìm">
            <button ng-click="search()">
                <i class="fa-solid fa-magnifying-glass"></i>
                Tìm kiếm
            </button>
    </form>
    <div class="button">
        <button ng-click="btnAdd()" type="button" class="btn btn-success btn-add">
            <i class="fa-solid fa-plus"></i>
            Thêm Danh Mục Ưu Đãi
        </button>
        <button type="button" class="btn btn-danger btn-del" >
            <i class="fa-solid fa-trash"></i>
            Xoá danh mục Ưu Đãi
        </button>
    </div>
    <form action="">
        <table class="table table-product table-hover">
           <thead>
                <tr class="text-center">
                    <th>Chọn</th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Danh Mục Ưu Đãi</th>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Trang Thái</th>
                    <th scope="col">Hành Động</th>
                </tr>
           </thead>
           <tbody>
                <tr ng-repeat="x in ListDanhMucUuDai" class="text-center">
                    <td>
                        <input class="form-check-input text-center" ng-model="selected" type="checkbox" ng-click="toggleSelection(x)" value="" id="checkitem">
                    </td>
                    <td>{{x.madanhmucuudai.toLocaleString('de-DE')}}</td>
                    <td>{{x.tendanhmucuudai}}</td>
                    <td>{{x.noiDung}}</td>
                    <td ng-style="{'color': x.dacBiet === true ? '#33CC00' : '#FF3300'}">{{x.dacBiet===true?'Hoạt động':'Tắt'}}</td>
                    <td>
                        <a style="cursor: pointer;" class="edit text-decoration-none">
                            <i ng-click="edit(x)"  class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
           </tbody>
        </table>
    </form>
    <div class="product-container">
        <div class="add-product container">
            <h4 class="text-center p-2">Thông tin danh mục ưu đãi</h4>
            
            <div class="form-group">
                <label>Tên danh mục ưu đãi:</label>
                <input id="categoryName" type="text" class="form-control" placeholder="Tên danh mục ưu đãi">
            </div>
            <div class="form-group">
                <label for="">Trạng thái:</label>
                <select class="select form-select-lg status">
                    <option value="true" selected>Hoạt động</option>
                    <option value="false">Tắt</option>
                </select>
            </div>
            <div class="form-group">
                <label>Mô tả:</label>
                <textarea id="describe" name="mota" rows="5" cols="5" class="form-control" placeholder="Mô tả"></textarea>
            </div>
            <button ng-click="addItem()" type="button" class="btn btn-success saveAdd" style="margin: 0 0 10px 46%;">Lưu lại</button>
            <button ng-click="editItem()" type="button" class="btn btn-success saveEdit" style="margin: 0 0 10px 46%;">Lưu chỉnh sửa</button>
        </div>
    </div>
</div>
<div id="pagination"></div>
<div class="notifi">
    <div class="notifi-btn">
        <p class="text-center p-3" style="margin-bottom: 0;">Bạn có chắc chắn muốn xoá không ?</p>
        <div class="text-center">
            <button onclick="yesdel()" type="button" class="yes-btn btn btn-success">Đồng ý</button>
            <button type="button" class="no-btn btn btn-secondary">Quay lại</button>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        $(".btn-add").click(function(){
            $(".product-container").toggleClass("hide")
            document.querySelector('.saveEdit').style.display = 'none'
            document.querySelector('.saveAdd').style.display = 'block'
        })

        $(".product-container").click(function(){
            $(".product-container").toggleClass("hide")
        })

        $(".add-product").click(function(e){
            e.stopPropagation();
        })

        $('.btn-del').click(function(){
            $('.notifi').toggleClass("hide-confirm")
        })

        $('.notifi').click(function(){
            $('.notifi').toggleClass("hide-confirm")
        })

        $(".notifi-btn").click(function(e){
            e.stopPropagation();
        })

        $('.no-btn').click(function(){
            $('.notifi').toggleClass("hide-confirm")
        })

    });

</script>
