<div ng-controller="importBillCtrl" class="container">
    <p class="container p-2 tilte fs-5">Thông tin hoá đơn nhập
        <div id="clock" class="header-common"></div>
    </p>
    <form style="display: block;" class="form-group">
        <input ng-model="timkiem" style="margin: 0;padding: 10px;" type="text" name="" id=""
            placeholder="Nhập tên nhà phân phối cần tìm">
            <button style="margin: 5px 0;height: 30px;" ng-click="search()">
                <i class="fa-solid fa-magnifying-glass"></i>
                Tìm kiếm
            </button>
        <div style="display: flex;justify-content: center;align-items: center;width: 60%;
        margin: 5px 0;">
            <label for="" style="width: 120px; margin-left: 3px;">Từ ngày</label>
            <input type="datetime-local" name="start" id="startdate">
            <input type="datetime-local" name="end" id="enddate">
        </div>
        
    </form>
    <div class="button">
        <button ng-click="btnAdd()" type="button" class="btn btn-success btn-add">
            <i class="fa-solid fa-plus"></i>
            Thêm Hoá Đơn Nhập
        </button>
        <button type="button" class="btn btn-danger btn-del" >
            <i class="fa-solid fa-trash"></i>
            Xoá Hoá Đơn Nhập
        </button>
    </div>
    <form action="">
        <table class="table table-product table-hover">
           <thead>
                <tr class="text-center">
                    <!-- <th><input class="form-check-input text-center" type="checkbox" id="masterCheckbox">Chọn</th> -->
                    <th>Chọn</th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Nhà Phân Phối</th>
                    <th scope="col">Ngày Tạo</th>
                    <th scope="col">Kiểu Thanh Toán</th>
                    <th scope="col">Tổng Tiền</th>
                    <th scope="col">Tên Tài Khoản</th>
                    <th scope="col">Hành Động</th>
                </tr>
           </thead>
           <tbody>
                <tr ng-repeat="x in listHoaDonNhap" class="text-center">
                    <td>
                        <input class="form-check-input text-center slaveCheckbox" ng-model="selected" type="checkbox" ng-click="toggleSelection(x)" value="" id="checkitem">
                    </td>
                    <td>{{x.maHoaDon.toLocaleString('de-DE')}}</td>
                    <td>{{x.tenNhaPhanPhoi}}</td>
                    <td>{{ x.ngayTao | date:'HH:mm dd/MM/yyyy' }}</td>
                    <td>{{x.kieuThanhToan}}</td>
                    <td>{{x.tongTien.toLocaleString('de-DE')}}</td>
                    <td>{{x.tenTaiKhoan}}</td>
                    <td>
                        <a style="cursor: pointer;" class="edit text-decoration-none">
                            <i ng-click="edit(x)"  class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
           </tbody>
        </table>
    </form>
    <!-- <script>
        $(document).ready(function() {
            // Bắt sự kiện khi checkbox có id 'masterCheckbox' thay đổi trạng thái
            $("#masterCheckbox").change(function() {
                var isChecked = $(this).prop("checked");
                $(".slaveCheckbox").prop("checked", isChecked);
                console.log(isChecked);
            });
        });
    </script> -->
    <div class="product-container">
        <div class="add-product container">
            <h4 class="text-center p-2">Thông tin hoá đơn nhập</h4>
            
            <!-- <button class="btn-refesh">Làm mới</button> -->
            
            <div class="form-group">
                <label for="">Tên nhà phân phối:</label>
                <select ng-model="manhaphanphoi" id="manhaphanphoi" class="select form-select-lg status">
                    <option value="" disabled>Chọn nhà phân phối</option>
                    <option ng-repeat="y in NPP" value="{{y.maNhaPhanPhoi}}" >{{y.tenNhaPhanPhoi}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ngày tạo:</label>
                <input disabled  id="party" name="partydate" type="datetime-local" class="form-control" placeholder="Ngày tạo">
            </div>
            <div class="form-group">
                <label>Kiểu thanh toán:</label>
                <select ng-model="kieuthanhtoan" id="kieuthanhtoan" class="select form-select-lg status">
                    <option value="" disabled>Chọn kiểu thanh toán</option>
                    <option value="Tiền Mặt">Tiền Mặt</option>
                    <option value="Thẻ ATM">Thẻ ngân hàng</option>
                    <option value="Thẻ visa">Thẻ visa</option>
                    <option value="Thẻ ghi nợ">Thẻ ghi nợ</option>
                    <option value="Zalo Pay">Zalo Pay</option>
                    <option value="MoMo">MoMo</option>
                    <option value="Chuyển khoản">Chuyển khoản</option>
                    <option value="Apple Pay">Apple Pay</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tổng tiền:</label>
                <input disabled ng-model="tongtien" onkeypress="return isNumberKey(event)" id="PriceTotal" type="text" min="0" value="0" class="form-control tongtien" placeholder="Tổng tiền">
            </div>
            <!-- <div class="form-group">
                <label for="">Tên tài khoản:</label>
                <select ng-model="mataikhoan" class="select form-select-lg status">
                    <option value="" disabled>Chọn tài khoản</option>
                    <option ng-repeat="y in NameAcc" value={{y.maTaiKhoan}} >{{y.tenTaiKhoan}}</option>
                </select>
            </div> -->
            <div style="border: 1px solid rgb(162, 163, 168); border-radius: 10px; padding: 10px;">
                <h4>Chi tiết hoá đơn nhập</h4>
                <div class="form-group">
                    <label for="">Tên sản phẩm:</label>
                    <select ng-model="masanpham" id="tensanpham" class="select form-select-lg status">
                        <option value="" disabled>Chọn sản phẩm</option>
                        <option ng-repeat="y in Product" value={{y.maSanPham}} >{{y.tenSanPham}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Số lượng:</label>
                    <input ng-change="editAmount()" onkeypress="return isNumberKey(event)" ng-model="soluong" id="Quantity" type="text" min="1" value="0" class="form-control soluong"
                        placeholder="Số lượng">
                </div>
                <div class="form-group">
                    <label>Đơn vị tính:</label>
                    <input ng-model="donvitinh" type="text" class="form-control" placeholder="Đơn vị tính">
                </div>
                <div class="form-group">
                    <label>Giá nhập:</label>
                    <input ng-change="editPrice()" onkeypress="return isNumberKey(event)" ng-model="gianhap" id="Price" type="text" min="0" value="0" class="form-control gianhap" placeholder="Giá nhập">
                </div>
                <div class="form-group">
                    <label>Tổng giá:</label>
                    <input disabled ng-model="tonggia" onkeypress="return isNumberKey(event)" id="Price" type="text" min="0" value="0" class="form-control tonggia" placeholder="Tổng giá">
                </div>
                <script>
                    $(document).ready(function() {
                        $('.tongtien, .soluong, .gianhap, .tonggia').on('input', function() {
                            $(this).val(function(index, value) {
                                return value.replace(/[^0-9]/g, '').replace(/^0+/, '');
                            });
                            if ($(this).val() !== '') {
                                $(this).val(parseInt($(this).val()).toLocaleString('de-DE'));
                            }
                        });
                    });
                    function isNumberKey(e) {
                        var charCode = (e.which) ? e.which : e.keyCode;
                        if (charCode > 31 && (charCode < 48 || charCode > 57))
                            return false;
                        return true;
                    }
                </script>
                <div class="detail">
                    <div class="icon">
                        <i ng-click="refreshDetail()" class="fa-solid fa-rotate-left"></i>
                        <i ng-click="addDetail()" class="fa-solid fa-plus addimportBill"></i>
                        <i ng-click="editDetail()" class="fa-solid fa-pen-to-square"></i>
                        <i ng-click="deleteDetail()" class="fa-solid fa-trash"></i>
                    </div>
                    <form action="">
                        <table class="table table-product table-hover">
                            <thead>
                                <th class="text-center" scope="col">ID</th>
                                <th class="text-center" scope="col">Hình Ảnh</th>
                                <th class="text-center" scope="col">Tên sản phẩm</th>
                                <th class="text-center" scope="col">Số lượng</th>
                                <th class="text-center" scope="col">Đơn vị tính</th>
                                <th class="text-center" scope="col">Giá nhập</th>
                                <th class="text-center" scope="col">Tổng giá</th>
                            </thead>
                            <tbody>
                                <tr ng-click="clicktoEdit(y)" ng-repeat="y in listHoaDonNhapDetail" class="text-center">
                                    <td>{{y.id}}</td>
                                    <td><img style="width: 100px;height: 100px;background-size: cover;" src="{{y.anhDaiDien}}" alt="">
                                    </td>
                                    <td>{{y.tenSanPham}}</td>
                                    <td>{{y.soLuong.toLocaleString('de-DE')}}</td>
                                    <td>{{y.donViTinh}}</td>
                                    <td>{{y.giaNhap.toLocaleString('de-DE')}}</td>
                                    <td>{{y.tongGia.toLocaleString('de-DE')}}</td>
                                </tr>
                           </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <button ng-click="addBill()" type="button" class="btn btn-success saveAdd" style="margin: 10px 0 10px 42%;">Thêm mới</button>
        </div>
    </div>
</div>
<div id="pagination"></div>
<div class="notifi">
    <div class="notifi-btn">
        <p class="text-center p-3" style="margin-bottom: 0;">Bạn có chắc chắn muốn xoá không ?</p>
        <div class="text-center">
            <button onclick="yesdel()" type="button" class="yes-btn btn btn-success" >Đồng ý</button>
            <button type="button" class="no-btn btn btn-secondary">Quay lại</button>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        $(".btn-add").click(function(){
            $(".product-container").toggleClass("hide")
        })

        $(".product-container").click(function(){
            $(".product-container").toggleClass("hide")
        })

        $(".add-product").click(function(e){
            e.stopPropagation();
        })

        $('.btn-del').click(function(){
            $('.notifi').toggleClass("hide-confirm")
        })

        $('.notifi').click(function(){
            $('.notifi').toggleClass("hide-confirm")
        })

        $(".notifi-btn").click(function(e){
            e.stopPropagation();
        })

        $('.no-btn').click(function(){
            $('.notifi').toggleClass("hide-confirm")
        })

    });

</script>

<script>
    $(document).ready(function() {
        $('#manhaphanphoi').select2({
            placeholder: "Chọn nhà phân phối",
        });
        $('#kieuthanhtoan').select2({
            placeholder: "Chọn kiểu thanh toán",
        });
        $('#tensanpham').select2({
            placeholder: "Chọn sản phẩm",
        });
        $('.select2-container').css('width', '69%');
        $('.select2-container').css('margin-left', '7px');

    });
</script>