<div ng-controller="ProductCtrl" class="container">
    <p class="container p-2 tilte fs-5">Thông tin sản phẩm</p>
    <form class="form-group">
        <input style="margin: 0;padding: 10px;" type="text" name="" id=""
            placeholder="Nhập tên sản phẩm hoặc giá sản phẩm cần tìm">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
            Tìm kiếm
        </button>
    </form>
    <div class="button">
        <button type="button" class="btn btn-success btn-add">
            <i class="fa-solid fa-plus"></i>
            Thêm sản phẩm
        </button>
        <button type="button" class="btn btn-danger btn-del">
            <i class="fa-solid fa-trash"></i>
            Xoá sản phẩm
        </button>
    </div>
    <form action="">
        <table class="table table-product table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">Chọn</th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Sản Phẩm</th>
                    <th scope="col">Hình Ảnh</th>
                    <th scope="col">Giá Bán</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Danh mục ưu đãi</th>
                    <th>Mô tả</th>
                    <th>Trạng Thái</th>
                    <th scope="col">Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in listItem" class="text-center">
                    <td>
                        <input class="form-check-input text-center" ng-model="selected" type="checkbox"
                            ng-click="toggleSelection(x)" value="" id="checkitem">
                    </td>
                    <td class="id-item">{{x.maSanPham}}</td>
                    <td>{{x.tenSanPham}}</td>
                    <td><img style="width: 100px;height: 100px;background-size: cover;" src={{x.anhDaiDien}} alt="">
                    </td>
                    <td>{{x.gia}}</td>
                    <td>{{x.soLuong}}</td>
                    <td>{{x.tenDanhMuc}}</td>
                    <td>{{x.tendanhmucuudai}}</td>
                    <td>{{x.moTa}}</td>
                    <td>{{x.trangThai}}</td>
                    <td>
                        <a style="cursor: pointer;" class="edit text-decoration-none">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="product-container">
        <div class="add-product container">
            <h4 class="text-center p-2">Thêm sản phẩm</h4>
            <div class="form-group">
                <label for="">Mã danh mục:</label>
                <select id="mySelect-danhmuc" class="select form-select-lg">
                    <option ng-repeat="x in ListDanhMuc" value={{x.maDanhMuc}} selected>{{x.tenDanhMuc}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Mã danh mục ưu đãi:</label>
                <select  id="mySelect-danhmucuudai" class="select form-select-lg">
                    <option ng-repeat="x in ListDanhMucUuDai" value={{x.madanhmucuudai}} selected>{{x.tendanhmucuudai}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Tên sản phẩm:</label>
                <input id="ItemName" type="text" class="form-control" placeholder="Tên sản phẩm">
            </div>
            <div class="form-group">
                <label>Ảnh sản phẩm:</label>
                <input id="ImageProduct" type="file" class="form-control">
            </div>
            <img style="width: 20%; float: right;padding: 2px;" class="ImgProduct" src="" alt="">
            <div class="form-group">
                <label>Ảnh chi tiết sản phẩm:</label>
                <input id="ImageDetail" type="file" class="form-control" multiple>
            </div>
            <div class="imgdetail">

            </div>
            <div class="form-group">
                <label>Giá:</label>
                <input id="Price" type="number" value="0" class="form-control" placeholder="Giá">
            </div>
            <div class="form-group">
                <label>Giá giảm:</label>
                <input id="Price-down" type="number" value="0" class="form-control"
                    placeholder="Giá giảm">
            </div>
            <div class="form-group">
                <label>Số lượng:</label>
                <input id="Quantity" type="number" value="0" class="form-control"
                    placeholder="Số lượng">
            </div>
            <div class="form-group">
                <label for="">Trạng thái:</label>
                <select class="select form-select-lg status">
                    <option value="true" selected>True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="form-group">
                <label>Lượt xem:</label>
                <input  id="view" type="number" value="0" class="form-control" placeholder="Lượt xem">
            </div>
            <div class="form-group">
                <label for="">Mã nhà sản xuất:</label>
                <select  id="mySelect-producer" class="select form-select-lg ">
                    <option ng-repeat="x in ListNhaSanXuat " value={{x.maNhaSanXuat}} selected>{{x.tenHang}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Mã nhà phân phối:</label>
                <select  id="mySelect-distributor" class="select form-select-lg">
                    <option ng-repeat="x in ListNhaPhanPhoi " value={{x.maNhaPhanPhoi}} selected>{{x.tenNhaPhanPhoi}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>Mô tả:</label>
                <textarea id="describe" name="mota" rows="5" cols="5" class="form-control"
                    placeholder="Mô tả tổng quát"></textarea>
            </div>
            <div class="form-group">
                <label>Chi tiết:</label>
                <textarea  id="detail" rows="5" cols="5" class="form-control"
                    placeholder="Chi tiết"></textarea>
            </div>
            <button ng-click="addProduct()" type="button" class="btn btn-success" style="margin: 0 0 10px 46%;">Lưu
                lại</button>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example" style="display: flex; justify-content: center;z-index: 0;">
    <ul class="pagination">
        <li class="page-item prevPage">
            <p class="page-link " href="#">
                <<< </p>
        </li>
        <div class="page-count" style="display:flex">
            <li class="page-item">
                <p class="page-link">1</p>
            </li>
        </div>
        <li class="page-item nextPage">
            <p class="page-link " href="#">>></p>
        </li>
    </ul>
</nav>
<div class="notifi">
    <div class="notifi-btn">
        <p class="text-center p-3" style="margin-bottom: 0;">Bạn có chắc chắn muốn xoá không ?</p>
        <div class="text-center">
            <button type="button" class="yes-btn btn btn-success" onclick="yesdel()">Đồng ý</button>
            <button type="button" class="no-btn btn btn-secondary">Quay lại</button>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $(".btn-add").click(function () {
            $(".product-container").toggleClass("hide")
        })

        $(".product-container").click(function () {
            $(".product-container").toggleClass("hide")
        })

        $(".add-product").click(function (e) {
            e.stopPropagation();
        })

        $('.btn-del').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $('.notifi').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $(".notifi-btn").click(function (e) {
            e.stopPropagation();
        })

        $('.no-btn').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

    });

</script>