<div ng-controller="ProductCtrl" class="container">
    <p class="container p-2 tilte fs-5">Thông tin sản phẩm
        <div id="clock" class="header-common"></div>
    </p>
    <form style="display: block;" class="form-group">
        <input ng-model="timkiem" style="margin: 0;padding: 10px;" type="text" name="" id=""
            placeholder="Nhập từ khoá cần tìm">
        
        <select ng-model="luachontimkiem" style="width: 12%;" class="select form-select-lg" aria-label="Default select example">
            <option value=""disabled>Tìm kiếm theo</option>
            <option value="TenSanPham">Tên Sản Phẩm</option>
            <option value="TenDanhMuc">Tên Danh Mục</option>
            <option value="Tendanhmucuudai">Tên Danh Mục Ưu Đãi</option>
            <option value="TenNhaPhanPhoi">Tên Nhà Phân Phối</option>
            <option value="TenHang">Tên Hãng Sản Xuất</option>
            <option value="XuatXu">Xuất Xứ</option>
        </select>
        <button style="height: 30px;" ng-click="search()">
            <i class="fa-solid fa-magnifying-glass"></i>
            Tìm kiếm
        </button>

        
        <div style="width: 50%; margin-left: 3px;">
            <div class="range-container">
                <label style="width: 100px;" for="giaMin" class="range-label">Giá Min:</label>
                <input type="range" id="giaMin" class="range-input" min="0" max="4999999" step="1" value="0">
                <span style="width: 50px; padding-left: 10px;" id="giaMinValue">0</span>
            </div>
        
            <div class="range-container">
                <label style="width: 100px;" for="giaMax" class="range-label">Giá Max:</label>
                <input type="range" id="giaMax" class="range-input" min="0" max="4999999" step="1" value="4999999">
                <span style="width: 50px; padding-left: 10px;" id="giaMaxValue">4999999</span>
            </div>
        </div>
        
        <style>
            .range-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .range-input {
                width: 100%;
            }
            .range-label {
                width: 45px;
                text-align: left;
            }
        </style>
    </form>
    <div class="button">
        <button ng-click="btnAdd()" type="button" class="btn btn-success btn-add">
            <i class="fa-solid fa-plus"></i>
            Thêm sản phẩm
        </button>
        <button type="button" class="btn btn-danger btn-del">
            <i class="fa-solid fa-trash"></i>
            Xoá sản phẩm
        </button>
        <button ng-click="up5persen()" type="button" class="btn btn-primary btn-up5">
            <i class="fa-solid fa-circle-up"></i>
            Tăng 5% giá bán
        </button>
        <button ng-click="down5persen()" type="button" class="btn btn-secondary btn-down5">
            <i class="fa-solid fa-circle-down"></i>
            Giảm 5% giá bán
        </button>
    </div>
    <form action="">
        <table class="table table-product table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">Chọn</th>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Sản Phẩm</th>
                    <th scope="col">Hình Ảnh</th>
                    <th scope="col">Giá Bán</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Đã Bán</th>
                    <th scope="col">Đánh giá</th>
                    <th scope="col">Trọng Lượng</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Danh mục ưu đãi</th>
                    <th>Mô tả</th>
                    <th>Trạng Thái</th>
                    <th scope="col">Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in listItem" class="text-center">
                    <td>
                        <input class="form-check-input text-center" ng-model="selected" type="checkbox"
                            ng-click="toggleSelection(x)" value="" id="checkitem">
                    </td>
                    <td class="id-item">{{x.maSanPham.toLocaleString('de-DE')}}</td>
                    <td>{{x.tenSanPham}}</td>
                    <td><img style="width: 100px;height: 100px;background-size: cover;" src={{x.anhDaiDien}} alt="">
                    </td>
                    <td>{{x.giaGiam.toLocaleString('de-DE')}}</td>
                    <td>{{x.soLuong.toLocaleString('de-DE')}}</td>
                    <td>{{x.luotBan.toLocaleString('de-DE')}}</td>
                    <td>{{x.danhGia}} <i style="color: #ff9c1a;" class="fa-solid fa-star"></i></td>
                    <td>{{x.trongLuong}}</td>
                    <td>{{x.tenDanhMuc}}</td>
                    <td>{{x.tendanhmucuudai}}</td>
                    <td>{{x.moTa}}</td>
                    <td ng-style="{'color': x.trangThai === true ? '#33CC00' : '#FF3300'}">{{x.trangThai===true?'Hoạt động':'Tắt'}}</td>
                    <td>
                        <a style="cursor: pointer;" class="edit text-decoration-none">
                            <i ng-click="edit(x.maSanPham)"  class="fa-solid fa-circle-info"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="product-container">
        <div class="add-product container">
            <h4 class="text-center p-2">Thông tin sản phẩm</h4>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="">Tên danh mục:</label>
                    <select ng-model="madanhmuc" id="mySelect-danhmuc" class="select form-select-lg">
                        <option value="" disabled>Chọn danh mục</option>
                        <option ng-repeat="x in ListDanhMuc" value="{{x.maDanhMuc}}">{{x.tenDanhMuc}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Tên danh mục ưu đãi:</label>
                    <select ng-model="madanhmucuudai" id="mySelect-danhmucuudai" class="select form-select-lg">
                        <option value="" disabled>Chọn danh mục ưu đãi</option>
                        <option ng-repeat="x in ListDanhMucUuDai" value="{{x.madanhmucuudai}}">{{x.tendanhmucuudai}}</select>
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm:</label>
                    <!-- <input ng-model="tensanpham" id="ItemName" type="text" class="form-control" placeholder="Tên sản phẩm"> -->
                    <textarea ng-model="tensanpham" name="" id="ItemName" class="form-control" placeholder="Tên sản phẩm" cols="30" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Ảnh sản phẩm:</label>
                    <input ng-model="anhsanpham" id="ImageProduct" type="file" class="form-control">
                </div>
                <img style="width: 20%; float: right;padding: 2px;" class="ImgProduct" src="" alt="">
                <div style="border: 1px solid #4b4b4b; border-radius: 10px;padding: 10px; clear: both;">
                    <div class="form-group">
                        <label>Ảnh chi tiết sản phẩm:</label>
                        <input ng-model="anhchitietsanpham" id="ImageDetail" type="file" class="form-control" multiple>
                    </div>
                    <div class="icon">
                        <i ng-click="refreshDetail()" class="fa-solid fa-rotate-left"></i>
                        <i ng-click="addDetail()" class="fa-solid fa-plus"></i>
                        <i ng-click="editDetail()" class="fa-solid fa-pen-to-square"></i>
                        <i ng-click="deleteDetail()" class="fa-solid fa-trash"></i>
                    </div>
                    <div class="imgdetail">
        
                    </div>
                </div>
                <div class="form-group">
                    <label>Giá( Giá nhập = {{gianhap.toLocaleString('de-DE')}}):</label>
                    <input disabled ng-model="gia" onkeypress="return isNumberKey(event)" id="Price" type="text" min="0" value="0" class="form-control price" placeholder="Giá">
                </div>
                <div class="form-group">    
                    <label>Giá giảm:</label>
                    <input ng-change="inputVal()" onkeypress="return isNumberKey(event)" ng-model="giagiam" id="Price-down" type="text" min="0" value="0" class="form-control price-old"
                        placeholder="Giá giảm">
                </div>
                <div class="form-group">
                    <label>Số lượng:</label>
                    <input disabled ng-model="soluong" onkeypress="return isNumberKey(event)" id="Quantity" type="text" min="0" value="0" class="form-control quantity"
                        placeholder="Số lượng">
                </div>
                <script>
                    $(document).ready(function() {
                        $('.price-old, .price, .quantity').on('input', function() {
                            $(this).val(function(index, value) {
                                return value.replace(/[^0-9]/g, '').replace(/^0+/, '');
                            });
                            if ($(this).val() !== '') {
                                $(this).val(parseInt($(this).val()).toLocaleString('de-DE'));
                            }
                        });
                    });
                    function isNumberKey(e) {
                        var charCode = (e.which) ? e.which : e.keyCode;
                        if (charCode > 31 && (charCode < 48 || charCode > 57))
                            return false;
                        return true;
                    }
                </script>
                <div class="form-group">
                    <label>Trọng lượng:</label>
                    <input ng-model="trongluong" id="Weigh" type="text" class="form-control" placeholder="Trọng lượng">
                </div>
                <div class="form-group">
                    <label for="">Trạng thái:</label>
                    <select ng-model="trangthai" class="select form-select-lg status">
                        <option value="" disabled>Chọn trạng thái</option>
                        <option value="true">Hoạt động</option>
                        <option value="false">Tắt</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Tên nhà sản xuất:</label>
                    <select ng-model="manhasanxuat" id="mySelect-producer" class="select form-select-lg ">
                        <option value="" disabled>Chọn nhà sản xuất</option>
                        <option ng-repeat="x in ListNhaSanXuat " value={{x.maNhaSanXuat}}>{{x.tenHang}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Tên nhà phân phối:</label>
                    <select ng-model="manhaphanphoi" id="mySelect-distributor" class="select form-select-lg">
                        <option value="" disabled>Chọn nhà phân phối</option>
                        <option ng-repeat="x in ListNhaPhanPhoi " value={{x.maNhaPhanPhoi}}>{{x.tenNhaPhanPhoi}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Xuất xứ:</label>
                    <input ng-model="xuatxu" id="Weigh" type="text" class="form-control" placeholder="Xuất xứ">
                </div>
                <div class="form-group">
                    <label>Mô tả:</label>
                    <textarea ng-model="mota" id="describe" name="mota" rows="5" cols="5" class="form-control"
                        placeholder="Mô tả tổng quát"></textarea>
                </div>
                <div class="form-group">
                    <label>Chi tiết:</label>
                    <!-- <textarea ng-model="chitiet" id="detail" rows="5" cols="5" class="form-control"
                        placeholder="Chi tiết"></textarea> -->
                    <div style="width: 70%; margin-left: 10px;">
                        <textarea ng-model="chitiet" id="editor"></textarea>
                    </div>
                </div>
                
                
                <button ng-click="save()" type="button" class="btn btn-success saveAdd" style="margin: 0 0 10px 46%;">{{submit}}</button>
            </form>
        </div>
    </div>
</div>
<div id="pagination"></div>
<div class="notifi">
    <div class="notifi-btn">
        <p class="text-center p-3" style="margin-bottom: 0;">Bạn có chắc chắn muốn xoá không ?</p>
        <div class="text-center">
            <button type="button" class="yes-btn btn btn-success" onclick="yesdel()">Đồng ý</button>
            <button type="button" class="no-btn btn btn-secondary">Quay lại</button>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $(".btn-add").click(function(){
            $(".product-container").toggleClass("hide")
        })

        $(".product-container").click(function () {
            $(".product-container").toggleClass("hide")
        })

        $(".add-product").click(function (e) {
            e.stopPropagation();
        })

        $('.btn-del').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $('.notifi').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

        $(".notifi-btn").click(function (e) {
            e.stopPropagation();
        })

        $('.no-btn').click(function () {
            $('.notifi').toggleClass("hide-confirm")
        })

    }); 

</script>

<script>
    $(document).ready(function() {
        $('#mySelect-danhmuc').select2({
            placeholder: "Chọn danh mục",
        });
        $('#mySelect-danhmucuudai').select2({
            placeholder: "Chọn danh mục ưu đãi",
        });
        $('#mySelect-producer').select2({
            placeholder: "Chọn nhà sản xuất",
        });
        $('#mySelect-distributor').select2({
            placeholder: "Chọn nhà phân phối",
        });
        $('.select2-container').css('width', '69%');
        $('.select2-container').css('margin-left', '7px');

    });
</script>