<div ng-controller="ChangepasswordCtrl" style="margin-top: 85px;" id="content">  
    <div class="cleanser">
        <div style="margin-top: 10px;" class="type">
            <a href="#!/">TRANG CHỦ</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="#!/changepassword">ĐỔI MẬT KHẨU</a>
        </div>
        <div class="changepassword">
            <div class="changepass">
                <form>
                    <div class="form-group">
                        <label for="new-password">Mật khẩu cũ:</label>
                        <input ng-model="password_old" type="password" id="old-password" name="old-password" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password">Mật khẩu mới:</label>
                        <input ng-model="password_new0" type="password" id="new-password" name="new-password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Xác nhận mật khẩu mới:</label>
                        <input ng-model="password_new" type="password" id="confirm-password" name="confirm-password" required>
                    </div>
                    <div style="display: flex;align-items: center;" class="form-group">
                        <input style="transform: scale(1.4); margin-left: 3px;" type="checkbox" id="toggle-password" onchange="togglePasswordFields()">
                        <label style="margin-left: 7px;" for="toggle-password">Ẩn/Hiện mật khẩu</label>
                    </div>
                    <div class="form-group">
                        <input ng-click="doimk()" type="submit" value="Đổi mật khẩu">
                    </div>
                </form>
            </div>
        </div>
        <style>
            .changepass {
                background: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                width: 100%;
            }
            
            .form-group {
                margin: 10px 0;
            }
    
            .form-group label {
                display: block;
            }
    
            .form-group input[type="password"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 0 auto;
            }

            .form-group input[type="text"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 0 auto;
            }
    
            .form-group input[type="submit"] {
                width: 100%;
                padding: 10px;
                background: #337ab7;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

        </style>
        <script>
            function togglePasswordFields() {
                const toggleCheckbox = document.getElementById('toggle-password');
                const newPasswordField = document.getElementById('new-password');
                const confirmNewPasswordField = document.getElementById('confirm-password');
                const oldPassword = document.getElementById('old-password');

                if (toggleCheckbox.checked) {
                    newPasswordField.type = 'text';
                    confirmNewPasswordField.type = 'text';
                    oldPassword.type = 'text';
                } else {
                    newPasswordField.type = 'password';
                    confirmNewPasswordField.type = 'password';
                    oldPassword.type = 'password';
                }
            }

        </script>
    </div>
</div>