<div  ng-controller="HomeCtrl">
        <!------------- ImageSlider ---------------->
    <link rel="stylesheet" href="./assets/font/fontawesome-free-6.3.0-web/fontawesome-free-6.3.0-web/css/all.css">
    <script src="./assets/js/fast.js"></script>

    <div class="image">
        <img id="img" src="./assets/img/skincare+banner.jpg" alt="">
        <div class="image-btn">
            <div class="fa-solid fa-circle-chevron-right  btn next"></div>
            <div class="fa-solid fa-circle-chevron-left  btn prev"></div>
        </div>
    </div>

    <!-- -----------------Banner----------------- -->
    <div class="banner_left">
        <a ng-repeat="x in listADSLeft" href="{{x.linkQuangCao}}"><img  src="{{x.anhDaiDien}}" alt=""></a>
    </div>
    <div class="banner_right">
        <a ng-repeat="y in listADSRight" href="{{y.linkQuangCao}}"><img src="{{y.anhDaiDien}}" alt=""></a>
    </div>

    <!-- -----------Content Product-------- --> 
    <div id="content">  
        <div class="sale">
            <h2 class="type type_Sale">SẢN PHẨM SALE</h2>
            <div ng-repeat="x in listUudai" class="home-product-item">
                <a class="linkproduct" href="#!/product/{{x.maSanPham}}">
                    <div class="home-product-item_img"><img style="min-height: 200px; min-width: 100px;" src="{{x.anhDaiDien}}" alt=""></div>
                    <h4 class="home-product-item_name">{{x.tenSanPham}}</h4>
                    <span class="decrip-item">{{x.moTa}}
                    </span>
                </a>
                <span class="banner-sale">SALE</span>
                <span class="sale-up">{{ (100 - x.giaGiam / x.gia * 100) | roundUp }} <sup>%</sup><div>Giảm</div></span>
                <div class="home-product-item_price">
                    <span class="home-product-item_price_current">{{x.giaGiam.toLocaleString('DE-de')}}<sup>đ</sup></span>
                    <span class="home-product-item_price_old">{{x.gia.toLocaleString('DE-de')}}<sup>đ</sup></span>
                </div>
                <div class="home-icon-recommend">
                    <span>{{x.danhGia > 0 ? x.danhGia.toFixed(1):''}}</span>
                    <i ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}" class="fa-solid fa-star star-gold"></i>
                    <span ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}">|</span>
                    <span title="Đã bán" class="fa-solid fa-shop"></span>
                    <span title="Đã bán" class="amount-product">{{x.luotBan}}</span>
                    <span class="fa-solid fa-truck-fast free-ship"></span>
                </div>  
                <div class="view">
                    <i class="fa-solid fa-eye"></i> {{x.luotXem.toLocaleString('DE-de')}}
                </div>
                <div class="country">
                    {{x.xuatXu}}
                </div>
            </div>
        </div>

        <div class="favourite">
            <h2 class="type">SẢN PHẨM YÊU THÍCH</h2>
            <div ng-repeat="x in listUathich" class="home-product-item">
                <a class="linkproduct" href="#!/product/{{x.maSanPham}}">
                    <div class="home-product-item_img"><img style="min-height: 200px; min-width: 100px;" src="{{x.anhDaiDien}}" alt=""></div>
                    <h4 class="home-product-item_name">{{x.tenSanPham}}</h4>
                    <span class="decrip-item">{{x.moTa}}
                    </span>
                </a>
                <span class="sale-up">{{ (100 - x.giaGiam / x.gia * 100) | roundUp }} <sup>%</sup><div>Giảm</div></span>
                <div class="home-product-item_price">
                    <span class="home-product-item_price_current">{{x.giaGiam.toLocaleString('DE-de')}}<sup>đ</sup></span>
                    <span class="home-product-item_price_old">{{x.gia.toLocaleString('DE-de')}}<sup>đ</sup></span>
                </div>
                <div class="home-icon-recommend">
                    <span>{{x.danhGia > 0 ? x.danhGia.toFixed(1):''}}</span>
                    <i ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}" class="fa-solid fa-star star-gold"></i>
                    <span ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}">|</span>
                    <span title="Đã bán" class="fa-solid fa-shop"></span>
                    <span title="Đã bán" class="amount-product">{{x.luotBan}}</span>
                    <span class="fa-solid fa-truck-fast free-ship"></span>
                </div>  
                <div class="view">
                    <i class="fa-solid fa-eye"></i> {{x.luotXem.toLocaleString('DE-de')}}
                </div>
                <div class="country">
                    {{x.xuatXu}}
                </div>
            </div>
        </div>

        <div class="take-care">
            <div class="more">
                <a href="#!/category/1/Serum">Xem thêm</a>
            </div>
            <h2 class="type">SERUM</h2>
            <div ng-repeat="x in listSerum" class="home-product-item">
                <a class="linkproduct" href="#!/product/{{x.maSanPham}}">
                    <div class="home-product-item_img"><img style="min-height: 200px; min-width: 100px;" src="{{x.anhDaiDien}}" alt=""></div>
                    <h4 class="home-product-item_name">{{x.tenSanPham}}</h4>
                    <span class="decrip-item">{{x.moTa}}
                    </span>
                </a>
                <span class="sale-up">{{ (100 - x.giaGiam / x.gia * 100) | roundUp }} <sup>%</sup><div>Giảm</div></span>
                <div class="home-product-item_price">
                    <span class="home-product-item_price_current">{{x.giaGiam.toLocaleString('DE-de')}}<sup>đ</sup></span>
                    <span class="home-product-item_price_old">{{x.gia.toLocaleString('DE-de')}}<sup>đ</sup></span>
                </div>
                <div class="home-icon-recommend">
                    <span>{{x.danhGia > 0 ? x.danhGia.toFixed(1):''}}</span>
                    <i ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}" class="fa-solid fa-star star-gold"></i>
                    <span ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}">|</span>
                    <span title="Đã bán" class="fa-solid fa-shop"></span>
                    <span title="Đã bán" class="amount-product">{{x.luotBan}}</span>
                    <span class="fa-solid fa-truck-fast free-ship"></span>
                </div>  
                <div class="view">
                    <i class="fa-solid fa-eye"></i> {{x.luotXem.toLocaleString('DE-de')}}
                </div>
                <div class="country">
                    {{x.xuatXu}}
                </div>
            </div>
        </div>

        <div class="cleanser">
            <div class="more">
                <a href="#!/category/1/Sữa rửa mặt">Xem thêm</a>
            </div>
            <h2 class="type">SỮA RỬA MẶT</h2>
            <div ng-repeat="x in listCleanser" class="home-product-item">
                <a class="linkproduct" href="#!/product/{{x.maSanPham}}">
                    <div class="home-product-item_img"><img style="min-height: 200px; min-width: 100px;" src="{{x.anhDaiDien}}" alt=""></div>
                    <h4 class="home-product-item_name">{{x.tenSanPham}}</h4>
                    <span class="decrip-item">{{x.moTa}}
                    </span>
                </a>
                <span class="sale-up">{{ (100 - x.giaGiam / x.gia * 100) | roundUp }} <sup>%</sup><div>Giảm</div></span>
                <div class="home-product-item_price">
                    <span class="home-product-item_price_current">{{x.giaGiam.toLocaleString('DE-de')}}<sup>đ</sup></span>
                    <span class="home-product-item_price_old">{{x.gia.toLocaleString('DE-de')}}<sup>đ</sup></span>
                </div>
                <div class="home-icon-recommend">
                    <span>{{x.danhGia > 0 ? x.danhGia.toFixed(1):''}}</span>
                    <i ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}" class="fa-solid fa-star star-gold"></i>
                    <span ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}">|</span>
                    <span title="Đã bán" class="fa-solid fa-shop"></span>
                    <span title="Đã bán" class="amount-product">{{x.luotBan}}</span>
                    <span class="fa-solid fa-truck-fast free-ship"></span>
                </div>  
                <div class="view">
                    <i class="fa-solid fa-eye"></i> {{x.luotXem.toLocaleString('DE-de')}}
                </div>
                <div class="country">
                    {{x.xuatXu}}
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------MenuFast--------------- -->
    <div class="fast">
        <div class="fast-sale">
            <i data-scroll="360" class="fa-solid fa-fire fast-icon fast-color">
                <ul class="fast-title">
                    <span class="fast-arrow"></span>
                    Sản phẩm đang sale
                </ul>
            </i>
            
        </div>
        <div class="fast-favourite">
            <i data-scroll="1400" class="fa-solid fa-heart fast-icon fast-color">
                <ul class="fast-title">
                    <span class="fast-arrow"></span>
                    Sản phẩm yêu thích
                </ul>
            </i>
            
        </div>
        <div class="fast-serum">
            <i data-scroll="2325" class="fa-solid fa-wine-bottle fast-icon fast-color">
                <ul class="fast-title">
                    <span class="fast-arrow"></span>
                    Serum
                </ul>
            </i>
            
        </div>
        <div class="fast-cleaser fast-icon">
            <i data-scroll="2790" class="fa-solid fa-face-grin-hearts fast-color">
                <ul class="fast-title">
                    <span class="fast-arrow"></span>
                    Sữa rửa mặt
                </ul>
            </i>
            
        </div>
    </div>
</div>