<div ng-controller="ProductCtrl" id="content">  
    <div ng-model="ProductByid" class="product">
        <div class="type">
            <a href="#!/">TRANG CHỦ</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="#!/category/1/{{ProductByid.tenDanhMuc}}">{{ProductByid.tenDanhMuc.toUpperCase()}}</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="#!/product/{{ProductByid.maSanPham}}">{{ProductByid.tenSanPham}}</a>
        </div>
        <div class="product-item">
            <div class="product-left">
                <span class="product-item-img"><img src={{ProductByid.anhDaiDien}} alt=""></span>
                <div class="miror"></div>
                <div class="but">
                    <span>
                        <i ng-click="Prev()" class="fa-solid fa-angle-left"></i>
                    </span>
                    <span>
                        <i ng-click="Next()" class="fa-solid fa-angle-right"></i>
                    </span>
                </div>
                <div class="img-slider">
                    <!-- <img class="activeImg opacity1" src="./assets/img/Cleanser/cerave/3.jpg" alt=""> -->
                    <!-- <img ng-repeat="x in listImgDetail" src={{x.linkAnh}} alt=""> -->
                    <!-- <img src="./assets/img/Cleanser/cerave/2.jpg" alt="">
                    <img src="./assets/img/Cleanser/cerave/1.webp" alt="">
                    <img src="./assets/img/Cleanser/cerave/5.webp" alt=""> -->
                </div>
            </div>

            <div class="product-right">
                <table>
                    <tr>
                        <td>
                            <div class="product-item-name">{{ProductByid.tenSanPham}}
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <div class="prouct-item-star-rating">
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star "></span>
                                <a href="">99 đánh giá</a>
                            </div>
                        </td>
                    </tr> -->

                    <tr> 
                        <td>
                            <div class="product-item_price">
                                <span class="product-item_price_old">{{ProductByid.gia.toLocaleString('de-DE')}}</span><sup>đ</sup>
                                <span class="product-item_price_current">{{ProductByid.giaGiam.toLocaleString('de-DE')}}</span><sup>đ</sup>
                                <span class="VAT">(Đã bao gồm VAT)</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="status">
                                Tình trạng : <span ng-style="{'color': ProductByid.soLuong < 5 ? '#FF3300' : '#33CC00'}">{{ProductByid.soLuong < 5?'Hết hàng': 'Còn hàng'}}</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Lượt xem : {{ProductByid.luotXem.toLocaleString('de-DE')}}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Đã bán : {{ProductByid.luotBan.toLocaleString('de-DE')}}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="origin">Xuất xứ :</span> 
                            <span class="country-origin">{{ProductByid.xuatXu}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="product-item-capacity">
                                <span class="capacity-name">Dung tích :</span>
                                <span class="size">{{ProductByid.trongLuong}}</span>
                                <!-- <div class="capacity-volume">
                                    <input type="radio" id="1" name="capacity" class="size-mini">235ml</input>
                                    <input type="radio" id="1" name="capacity" class="size-big">473ml</input>
                                </div> -->
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="product-amount-item">Số lượng :</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="buy-amount-product" style="display: flex;">
                                <span style="height: 30px; width: 30px;display: flex;justify-content: center;align-items: center; outline: none; background-color: #ddd;border: none; cursor: pointer;" class="ti-minus minus"></span>
                                <input style="width: 30px; height: 30px; text-align: center;border:none; " type="text" value="1" min="1" class="amount">
                                <span style="height: 30px; width: 30px;display: flex;justify-content: center;align-items: center; outline: none; background-color: #ddd;border: none; cursor: pointer;" class="ti-plus plus"></span>  
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="add-item">THÊM VÀO GIỎ HÀNG</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="buy-now">MUA NGAY</button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="call">
                                <div class="fa-solid fa-phone-volume"></div>
                                <span class="Hotline">Hotline :
                                    <a href="tel:012.3456.789" title="tel:012.3456.789">
                                        <span>012.3456.789</span>
                                    </a>
                                </span>
                            </div>
        
                        </td>
                    </tr>
                </table>
            </div>

            <div class="product-right-right">
                <table>
                    <tr><th>CAM KẾT VỚI KHÁCH HÀNG</th></tr>
                    <tr><td><i class="font15 fa-solid fa-shield-halved"></i>Hàng chính hãng 100%</td></tr>
                    <tr><td><i class="font15 fa-solid fa-thumbs-up"></i>Uy tín chất lượng</td></tr>
                    <tr><td><i class="font15 fa-solid fa-gears"></i>Hỗ trợ liên tục trong quá trình sử dụng sản phẩm</td></tr>
                    <tr><td><i class="font15 fa-sharp fa-solid fa-rotate"></i>Chính sách đổi trả rõ ràng</td></tr>
                </table>
            </div>
        </div>

    </div>
    <!-- ------------Information------------- -->
    <div class="information">
        <div class="information-left">
            <!-- <ul class="menu-inf">
                <li class="color-menu " data-scroll="520">Thông tin sản phẩm</li>
                <li class="color-menu" data-scroll="1186">Thông số sản phẩm</li>
                <li class="color-menu" data-scroll="1484">Thành phần sản phẩm</li>
                <li  class="color-menu" data-scroll="1900">Hướng dẫn sử dụng</li>
                <li class="color-menu" data-scroll="2050">Đánh giá</li>
            </ul> -->

            <div id="information-product" ng-bind-html="ProductByid.chiTiet">   
                <!-- {{ProductByid.chiTiet}} -->
                <!-- <p><strong>Sữa rửa mặt Cerave sạch sâu </strong>&nbspHiện sản phẩm đã có mặt tại <strong>SkinCare</strong></p>
                <ul>
                    <li><strong>Sữa Rửa Mặt Cerave Sạch Sâu Cho Da Thường Đến Da Dầu </strong></li>
                    <li><strong>Sữa Rửa Mặt Cerave Sạch Sâu Cho Da Thường Đến Da Khô</strong></li>
                </ul>
                <h2>1.Sữa Rửa Mặt Cerave Sạch Sâu Cho Da Thường Đến Da Dầu </h2>
                <p><strong>Sữa Rửa Mặt Cerave Foaming Cleanser</strong>&nbsp;kết 
                    cấu dạng gel tạo bọt rất lý tưởng để loại bỏ dầu thừa, bụi bẩn 
                    và lớp trang điểm với công thức nhẹ nhàng, không phá vỡ hàng 
                    rào bảo vệ tự nhiên của da và chứa các thành phần giúp duy trì 
                    độ ẩm cân bằng da. Cerave Foaming Cleanser chứa <strong>Ceramides, 
                        Axit Hyaluronic và Niacinamide</strong> giúp duy trì hàng rào bảo vệ da,
                     khóa ẩm và làm dịu làn da của bạn.</p>
                <h2>Loại da phù hợp</h2>
                <ul>
                    <li>Sản phẩm thích hợp cho da thường đến dầu.</li>
                    <li>Có thể sử dụng cho mặt và toàn thân.</li>
                </ul>
                <h2>Giải pháp cho tình trạng da</h2>
                <ul>
                    <li>Da thường tiết bã nhờn, <strong>dầu thừa, lỗ chân lông to.</strong> </li>
                </ul>
                <h2>Ưu thế nổi bật:</h2>
                <ul>
                    <li><strong>3 loại Ceramides (1, 3, 6-II)</strong> thiết yếu giúp khôi phục hàng rào độ ẩm da. </li>
                    <li><strong>Hyaluronic Acid</strong> giúp duy trì độ ẩm tự nhiên của da.</li>
                    <li> <strong>Niacinamide</strong> giúp làm dịu, nuôi dưỡng, củng cố hàng rào da.</li>
                    <li>Kết cấu dạng gel tạo bọt giúp làm sạch sâu, loại bỏ dầu thừa, thông thoáng lỗ chân lông nhưng vẫn duy trì độ ẩm tự nhiên của da.</li>
                </ul>
                <div id="parameter">
                    <h2>Thông số sản phẩm</h2>
                    <table>
                        <tr>
                            <td>Barcode</td>
                            <td>337875597333</td>
                        </tr>
                        <tr>
                            <td>Thương Hiệu</td>
                            <td>Cerave</td>
                        </tr>
                        <tr>
                            <td>Xuất xứ thương hiệu</td>
                            <td>Mỹ</td>
                        </tr>
                        <tr>
                            <td>Nơi sản xuất</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Loại da</td>
                            <td>Da khô</td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td>Nam và Nữ</td>
                        </tr>
                        <tr>
                            <td>Vấn đề da</td>
                            <td>Da thiếu nước , thiếu ấm</td>
                        </tr>
                    </table>
                </div>
    
                <div id="ingredient">
                    <h2>Thành phần sản phẩm</h2>
                    <p><strong>Thành phần chính: </strong></p>
                    <ul>
                        <li>3 loại Ceramides (1, 3, 6-II): thiết yếu giúp khôi phục hàng rào độ ẩm da. </li>
                        <li>Hyaluronic Acid: giúp duy trì độ ẩm tự nhiên của da.</li>
                        <li>Niacinamide: giúp làm dịu, nuôi dưỡng, củng cố hàng rào da.</li>
                    </ul>
                    <p><strong>Thành phần đầy đủ</strong></p>
                    <p>Purified Water (Aqua), Cocamidopropyl Hydroxysultaine, Glycerin, Sodium Lauroyl 
                        Sarcosinate, Peg-150 Pentaerythrityl Tetrastearate (And) Peg-6 Caprylic/Capric 
                        Glycerides, Niacinamide, Propylene Glycol, Sodium Methyl Cocoyl Taurate, Ceramide 
                        3, Ceramide 6-Ii, Ceramide 1, Hyaluronic Acid, Cholesterol, Sodium Chloride, 
                        Phytosphingosine, Citric Acid, Edetate Disodium Dihydrate, Sodium Lauroyl 
                        Lactylate, Methylparaben, Propylparaben, Carbomer, Xanthan Gum. </p>
                </div>
    
                <div id="guide">
                    <h2>Hướng dẫn sử dụng</h2>
                    <ul>
                        <li>Làm ướt da.</li>
                        <li>Mát xa sữa rửa mặt theo chuyển động tròn.</li>
                        <li>Nhẹ nhàng rửa sạch lại với nước.</li>
                    </ul>
                </div> -->
            </div>

            

            <div id="rate">
                <h2>Đánh giá ({{amountlistRating}})</h2>
                <div class="ratingheder">
                    <p>Đánh giá trung bình:</p>
                    <h1 style="font-size: 50px;">{{ProductByid.danhGia.toFixed(1)}} <i style="font-size: 20px ;color: #ff9c1a; margin-left: -7px;" class="fa-solid fa-star"></i></h1>
                </div>
                <div class="ratingUser">
                    <p>Đánh giá sản phẩm này:</p>
                    <div style="display: flex;">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div style="margin-left: 30px; line-height: 40px;" class="textStar"></div>
                    </div>
                    <p>Mô tả nhận xét:</p>
                    <textarea ng-model="comment" name="" id="" cols="10" rows="3"></textarea>
                    <span>Chọn ảnh:</span>
                    <input type="file" name="" id="ratingIMG">
                    <div class="previewRating">
                        <img style="width: 100px;height: 100px;margin-top: 5px;background-size: cover;" src="" alt="">
                    </div>
                    <div class="sendRating">
                        <button ng-click="sendrate()">Viết đánh giá</button>
                    </div>
                </div>
                <div class="stars2">
                    <p style="margin-bottom: 10px;">Bạn đã đánh giá:</p>
                    <div style="display: flex;">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div style="margin-left: 30px; line-height: 40px;" class="textStar"></div>
                    </div>
                    <p class="commentRated" style="margin-left: 7px;padding-top: 3px;"></p>
                    <img class="imgRated" style="width: 20%;margin-left: 7px;padding-top: 7px;background-size: cover;" src="" alt="">
                </div>
                <div class="btnNextRate">
                    <h2>Bình luận cho sản phẩm này</h2>
                    <span>
                        <button ng-click="prevRate()" class="prevRate">Trang trước</button>
                        <span>|</span>
                        <button ng-click="nextRate()" class="nextRate">Trang Sau</button>
                    </span>
                </div>
                <div style="display: flex; justify-content: center;">
                    <p class="nonRate" style="margin-top: 20px;">Chưa có đánh giá nào</p>
                </div>
                <div class="personrate">
                    <div ng-repeat="x in listRating" class="rate">
                        <span class="stars-rate">
                            <i ng-repeat="st in getStarsArray(5)" class="fa-solid fa-star" ng-class="{ 'activeStar': st <= x.chatLuong }"></i>
                        </span>
                        <span class="user">{{x.hoTen}}</span>
                        <span class="product-item-user">{{x.tenSanPham}}</span>
                        <div>
                            <!-- <span class="fa-solid fa-check"></span> -->
                            <span ng-style="{'color': x.trangThai === false ? '#FF0000' : '#00CC00'}" class="check-buy">{{x.trangThai===true?'Đã mua hàng online':'Chưa mua hàng'}}</span>
                        </div>
                        <span class="time-comment">{{ x.thoiGian | date:'HH:mm dd/MM/yyyy' }}</span>
                        <p>{{x.noiDung}}</p>
                        <div>
                            <img style="width: 100px;height: 100px;margin-top: 5px;" src="{{x.anhDanhGia}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="information-right">
            <div class="recommend">
                <h2>Sản phẩm liên quan</h2>
                <div ng-repeat="x in listConnect" class="product-recommend">
                    <a ng-click="reloadPage(x)" href="#!/product/{{x.maSanPham}}">
                        <div class="product-recommend-img"><img src="{{x.anhDaiDien}}" alt=""></div>
                        <span class="product-recommend-price">{{x.giaGiam.toLocaleString('de-DE')}}<sup>đ</sup></span>
                        <span class="product-recommend-price-old">{{x.gia.toLocaleString('de-DE')}}<sup>đ</sup></span>
                        <div style="display: block;" class="sale-off">{{ (100 - x.giaGiam / x.gia * 100) | roundUp }}<sup>%</sup></div>
                        <div class="product-recommend-name">{{x.tenSanPham}}
                        </div>
                    </a>
                        <div class="icon-recommend">
                            <span>{{x.danhGia > 0 ? x.danhGia.toFixed(1):''}}</span>
                            <i ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}" class="fa-solid fa-star star-gold"></i>
                            <span ng-style="{'display': x.danhGia > 0 ? 'inline-block':'none'}">|</span>
                            <span class="fa-solid fa-shop"></span>
                            <span class="amount-product">123</span>
                        </div>  
                </div>
            </div>
        </div>
    </div>
</div>
