<div ng-controller="ProductCtrl" id="content">  
    <div ng-model="ProductByid" class="product">
        <div class="type">
            <a href="./home.html">TRANG CHỦ</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="./cleanser.html">SỮA RỬA MẶT</a>
            <i class="fa-solid fa-arrow-right"></i>
            <a href="./product.html">Sữa rửa mặt Cerave Renewing SA Cleanser</a>
        </div>
        <div class="product-item">
            <div class="product-left">
                <span class="product-item-img"><img src={{ProductByid.anhDaiDien}} alt=""></span>
                <div class="miror"></div>
                <div class="but">
                    <span>
                        <i onclick="Prev()" class="fa-solid fa-angle-left"></i>
                    </span>
                    <span>
                        <i onclick="Next()" class="fa-solid fa-angle-right"></i>
                    </span>
                </div>
                <div class="img-slider">
                    <!-- <img class="activeImg opacity1" src="./assets/img/Cleanser/cerave/3.jpg" alt=""> -->
                    <img ng-repeat="x in listImgDetail" src={{x.linkAnh}} alt="">
                    <!-- <img src="./assets/img/Cleanser/cerave/2.jpg" alt="">
                    <img src="./assets/img/Cleanser/cerave/1.webp" alt="">
                    <img src="./assets/img/Cleanser/cerave/5.webp" alt=""> -->
                </div>
            </div>

            <div class="product-right">
                <table>
                    <tr>
                        <td>
                            <div class="product-item-name">{{ProductByid.tenSanPham}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="prouct-item-star-rating">
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star star-gold"></span>
                                <span class="fa-solid fa-star "></span>
                                <a href="">99 đánh giá</a>
                            </div>
                        </td>
                    </tr>

                    <tr> 
                        <td>
                            <div class="product-item_price">
                                <span class="product-item_price_old">{{ProductByid.gia}}</span><sup>đ</sup>
                                <span class="product-item_price_current">{{ProductByid.giaGiam}}</span><sup>đ</sup>
                                <span class="VAT">(Đã bao gồm VAT)</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="status">
                                Tình trạng : <span class="still">Còn hàng</span>
                            </div>
                        </td>
                    </tr>

                    <!-- <tr>
                        <td>
                            <span class="origin">Xuất xứ :</span> 
                            <span class="country-origin">Hàn Quốc</span>
                        </td>
                    </tr> -->

                    <tr>
                        <td>
                            <div class="product-item-capacity">
                                <span class="capacity-name">Dung tích :</span>
                                <span class="size">{{ProductByid.trongLuong}}</span>
                                <!-- <div class="capacity-volume">
                                    <input type="radio" id="1" name="capacity" class="size-mini">235ml</input>
                                    <input type="radio" id="1" name="capacity" class="size-big">473ml</input>
                                </div> -->
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="product-amount-item">Số lượng :</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="buy-amount-product" style="display: flex;">
                                <span style="height: 30px; width: 30px;display: flex;justify-content: center;align-items: center; outline: none; background-color: #ddd;border: none; cursor: pointer;" class="ti-minus minus"></span>
                                <input style="width: 30px; height: 30px; text-align: center;border:none; " type="text" value="1" min="1" class="amount">
                                <span style="height: 30px; width: 30px;display: flex;justify-content: center;align-items: center; outline: none; background-color: #ddd;border: none; cursor: pointer;" class="ti-plus plus"></span>  
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="add-item">THÊM VÀO GIỎ HÀNG</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="buy-now">MUA NGAY</button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="call">
                                <div class="fa-solid fa-phone-volume"></div>
                                <span class="Hotline">Hotline :
                                    <a href="tel:012.3456.789" title="tel:012.3456.789">
                                        <span>012.3456.789</span>
                                    </a>
                                </span>
                            </div>
        
                        </td>
                    </tr>
                </table>
            </div>

            <div class="product-right-right">
                <table>
                    <tr><th>CAM KẾT VỚI KHÁCH HÀNG</th></tr>
                    <tr><td><i class="font15 fa-solid fa-shield-halved"></i>Hàng chính hãng 100%</td></tr>
                    <tr><td><i class="font15 fa-solid fa-thumbs-up"></i>Uy tín chất lượng</td></tr>
                    <tr><td><i class="font15 fa-solid fa-gears"></i>Hỗ trợ liên tục trong quá trình sử dụng sản phẩm</td></tr>
                    <tr><td><i class="font15 fa-sharp fa-solid fa-rotate"></i>Chính sách đổi trả rõ ràng</td></tr>
                </table>
            </div>
        </div>

    </div>
    <!-- ------------Information------------- -->
    <div class="information">
        <div class="information-left">
            <ul class="menu-inf">
                <li class="color-menu " data-scroll="520">Thông tin sản phẩm</li>
                <li class="color-menu" data-scroll="1186">Thông số sản phẩm</li>
                <li class="color-menu" data-scroll="1484">Thành phần sản phẩm</li>
                <li  class="color-menu" data-scroll="1900">Hướng dẫn sử dụng</li>
                <li class="color-menu" data-scroll="2050">Đánh giá</li>
            </ul>

            <div id= "information-product">
                <p><strong>Sữa rửa mặt Cerave sạch sâu </strong>&nbspHiện sản phẩm đã có mặt tại <strong>SkinCare</strong></p>
                <ul>
                    <li><strong>Sữa Rửa Mặt Cerave Sạch Sâu Cho Da Thường Đến Da Dầu </strong></li>
                    <li><strong>Sữa Rửa Mặt Cerave Sạch Sâu Cho Da Thường Đến Da Khô</strong></li>
                </ul>
                <h2>1.Sữa Rửa Mặt Cerave Sạch Sâu Cho Da Thường Đến Da Dầu </h2>
                <p><strong>Sữa Rửa Mặt Cerave Foaming Cleanser</strong>&nbsp;kết 
                    cấu dạng gel tạo bọt rất lý tưởng để loại bỏ dầu thừa, bụi bẩn 
                    và lớp trang điểm với công thức nhẹ nhàng, không phá vỡ hàng 
                    rào bảo vệ tự nhiên của da và chứa các thành phần giúp duy trì 
                    độ ẩm cân bằng da. Cerave Foaming Cleanser chứa <strong>Ceramides, 
                        Axit Hyaluronic và Niacinamide</strong> giúp duy trì hàng rào bảo vệ da,
                     khóa ẩm và làm dịu làn da của bạn.</p>
                <h2>Loại da phù hợp</h2>
                <ul>
                    <li>Sản phẩm thích hợp cho da thường đến dầu.</li>
                    <li>Có thể sử dụng cho mặt và toàn thân.</li>
                </ul>
                <h2>Giải pháp cho tình trạng da</h2>
                <ul>
                    <li>Da thường tiết bã nhờn, <strong>dầu thừa, lỗ chân lông to.</strong> </li>
                </ul>
                <h2>Ưu thế nổi bật:</h2>
                <ul>
                    <li><strong>3 loại Ceramides (1, 3, 6-II)</strong> thiết yếu giúp khôi phục hàng rào độ ẩm da. </li>
                    <li><strong>Hyaluronic Acid</strong> giúp duy trì độ ẩm tự nhiên của da.</li>
                    <li> <strong>Niacinamide</strong> giúp làm dịu, nuôi dưỡng, củng cố hàng rào da.</li>
                    <li>Kết cấu dạng gel tạo bọt giúp làm sạch sâu, loại bỏ dầu thừa, thông thoáng lỗ chân lông nhưng vẫn duy trì độ ẩm tự nhiên của da.</li>
                </ul>
                <div id="parameter">
                    <h2>Thông số sản phẩm</h2>
                    <table>
                        <tr>
                            <td>Barcode</td>
                            <td>337875597333</td>
                        </tr>
                        <tr>
                            <td>Thương Hiệu</td>
                            <td>Cerave</td>
                        </tr>
                        <tr>
                            <td>Xuất xứ thương hiệu</td>
                            <td>Mỹ</td>
                        </tr>
                        <tr>
                            <td>Nơi sản xuất</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Loại da</td>
                            <td>Da khô</td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td>Nam và Nữ</td>
                        </tr>
                        <tr>
                            <td>Vấn đề da</td>
                            <td>Da thiếu nước , thiếu ấm</td>
                        </tr>
                    </table>
                </div>
    
                <div id="ingredient">
                    <h2>Thành phần sản phẩm</h2>
                    <p><strong>Thành phần chính: </strong></p>
                    <ul>
                        <li>3 loại Ceramides (1, 3, 6-II): thiết yếu giúp khôi phục hàng rào độ ẩm da. </li>
                        <li>Hyaluronic Acid: giúp duy trì độ ẩm tự nhiên của da.</li>
                        <li>Niacinamide: giúp làm dịu, nuôi dưỡng, củng cố hàng rào da.</li>
                    </ul>
                    <p><strong>Thành phần đầy đủ</strong></p>
                    <p>Purified Water (Aqua), Cocamidopropyl Hydroxysultaine, Glycerin, Sodium Lauroyl 
                        Sarcosinate, Peg-150 Pentaerythrityl Tetrastearate (And) Peg-6 Caprylic/Capric 
                        Glycerides, Niacinamide, Propylene Glycol, Sodium Methyl Cocoyl Taurate, Ceramide 
                        3, Ceramide 6-Ii, Ceramide 1, Hyaluronic Acid, Cholesterol, Sodium Chloride, 
                        Phytosphingosine, Citric Acid, Edetate Disodium Dihydrate, Sodium Lauroyl 
                        Lactylate, Methylparaben, Propylparaben, Carbomer, Xanthan Gum. </p>
                </div>
    
                <div id="guide">
                    <h2>Hướng dẫn sử dụng</h2>
                    <ul>
                        <li>Làm ướt da.</li>
                        <li>Mát xa sữa rửa mặt theo chuyển động tròn.</li>
                        <li>Nhẹ nhàng rửa sạch lại với nước.</li>
                    </ul>
                </div>
            </div>

            

            <div id="rate">
                <h2>Đánh giá</h2>
                <div class="personrate">
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="user">Lưu Đức Quang</span>
                    <span class="product-item-user">Sữa rửa mặt Cerave Renewing SA Cleanser</span>
                    <span class="fa-solid fa-check"></span>
                    <span class="check-buy">Đã mua hàng online</span>
                    <span class="time-comment">07:21 | 04/10/2022</span>
                    <p>Sản phầm rất tốt</p>
                </div>
                <div class="personrate">
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="user">Lưu Đức Thắng</span>
                    <span class="product-item-user">Sữa rửa mặt Cerave Renewing SA Cleanser</span>
                    <span class="fa-solid fa-check"></span>
                    <span class="check-buy">Đã mua hàng online</span>
                    <span class="time-comment">07:21 | 04/10/2022</span>
                    <p>Sản phầm chất lượng</p>
                </div>
                <div class="personrate">
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="user">Lưu Đức Thắng</span>
                    <span class="product-item-user">Sữa rửa mặt Cerave Renewing SA Cleanser</span>
                    <span class="fa-solid fa-check"></span>
                    <span class="check-buy">Đã mua hàng online</span>
                    <span class="time-comment">07:21 | 04/10/2022</span>
                    <p>Sản phầm chất lượng</p>
                </div>
                <div class="personrate">
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="fa-solid fa-star star-gold"></span>
                    <span class="user">Lưu Đức Thắng</span>
                    <span class="product-item-user">Sữa rửa mặt Cerave Renewing SA Cleanser</span>
                    <span class="fa-solid fa-check"></span>
                    <span class="check-buy">Đã mua hàng online</span>
                    <span class="time-comment">07:21 | 04/10/2022</span>
                    <p>Sản phầm chất lượng</p>
                </div>
            </div>
        </div>

        <div class="information-right">
            <div class="recommend">
                <h2>Sản phẩm liên quan</h2>
                <div class="product-recommend">
                    <a href="">
                        <div class="product-recommend-img"><img src="./assets/img/Cleanser/cetaphil.jpg" alt=""></div>
                        <span class="product-recommend-price">123.000<sup>đ</sup></span>
                        <span class="product-recommend-price-old">300.000<sup>đ</sup></span>
                        <div class="sale-off">40<sup>%</sup></div>
                        <div class="product-recommend-name">Sữa Tắm Gội Cetaphil Dịu Lành Cho Bé 400ml
                            Baby Wash & Shampoo with Organic Calendula
                        </div>
                    </a>
                        <div class="icon-recommend">
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="people-rate">(10)</span>
                            <span>|</span>
                            <span class="fa-solid fa-shop"></span>
                            <span class="amount-product">123</span>
                        </div>  
                </div>
                <div class="product-recommend">
                    <a href="">
                        <div class="product-recommend-img"><img src="./assets/img/Cleanser/cerave.jpg" alt=""></div>
                        <span class="product-recommend-price">350.000<sup>đ</sup></span>
                        <span class="product-recommend-price-old">400.000<sup>đ</sup></span>
                        <div class="sale-off">40<sup>%</sup></div>
                        <div class="product-recommend-name">Sữa rửa mặt Cerave dành cho da dầu
                        </div>
                    </a>
                        <div class="icon-recommend">
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="people-rate">(10)</span>
                            <span>|</span>
                            <span class="fa-solid fa-shop"></span>
                            <span class="amount-product">123</span>
                        </div>  
                </div>
                <div class="product-recommend">
                    <a href="">
                        <div class="product-recommend-img"><img src="./assets/img/Cleanser/cosrx.webp" alt=""></div>
                        <span class="product-recommend-price">180.000<sup>đ</sup></span>
                        <span class="product-recommend-price-old">300.000<sup>đ</sup></span>
                        <div class="sale-off">40<sup>%</sup></div>
                        <div class="product-recommend-name">Sữa rửa mặt CosrX dành cho da dầu
                        </div>
                    </a>
                        <div class="icon-recommend">
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="people-rate">(10)</span>
                            <span>|</span>
                            <span class="fa-solid fa-shop"></span>
                            <span class="amount-product">123</span>
                        </div>  
                </div>
                <div class="product-recommend">
                    <a href="">
                        <div class="product-recommend-img"><img src="./assets/img/Cleanser/laroche.png" alt=""></div>
                        <span class="product-recommend-price">210.000<sup>đ</sup></span>
                        <span class="product-recommend-price-old">300.000<sup>đ</sup></span>
                        <div class="sale-off">40<sup>%</sup></div>
                        <div class="product-recommend-name">Sữa rửa mặt Laroche Posay dành cho da dầu
                        </div>
                    </a>
                        <div class="icon-recommend">
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="people-rate">(10)</span>
                            <span>|</span>
                            <span class="fa-solid fa-shop"></span>
                            <span class="amount-product">123</span>
                        </div>  
                </div>
                <div class="product-recommend">
                    <a href="">
                        <div class="product-recommend-img"><img src="./assets/img/Cleanser/innisfree tra xanh.jpg" alt=""></div>
                        <span class="product-recommend-price">170.000<sup>đ</sup></span>
                        <span class="product-recommend-price-old">300.000<sup>đ</sup></span>
                        <div class="sale-off">40<sup>%</sup></div>
                        <div class="product-recommend-name">Sữa rửa mặt Innisfree trà xanh
                        </div>
                    </a>
                        <div class="icon-recommend">
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="people-rate">(10)</span>
                            <span>|</span>
                            <span class="fa-solid fa-shop"></span>
                            <span class="amount-product">123</span>
                        </div>  
                </div>
                <div class="product-recommend">
                    <a href="">
                        <div class="product-recommend-img"><img src="./assets/img/Cleanser/Kose-Softymo.jpg" alt=""></div>
                        <span class="product-recommend-price">250.000<sup>đ</sup></span>
                        <span class="product-recommend-price-old">300.000<sup>đ</sup></span>
                        <div class="sale-off">40<sup>%</sup></div>
                        <div class="product-recommend-name">Sữa rửa mặt Kose-Softymo
                        </div>
                    </a>
                        <div class="icon-recommend">
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="fa-solid fa-star star-gold"></span>
                            <span class="people-rate">(10)</span>
                            <span>|</span>
                            <span class="fa-solid fa-shop"></span>
                            <span class="amount-product">123</span>
                        </div>  
                </div>
                
            </div>
        </div>
    </div>
</div>

<script src="./assets/js/product.js"></script>